@model Ogrenci
@{
    ViewData["Title"] = "StudentDetail";
}

<h1>Student Detail</h1>

<form asp-action="StudentDetail" asp-controller="Ogrenci" method="post">
    <input type="hidden" asp-for="Ogrenciid" />
    <div class="mb-3">
        <label class="form-label" asp-for="Ad"></label>
        <input class="form-control" asp-for="Ad" />
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Soyad"></label>
        <input class="form-control" asp-for="Soyad" />
    </div>
    <input type="submit" value="Kaydet" class="btn btn-success" />
</form>

